			* {margin, padding: 0}

			body {
				max-width: 600px;
				min-width: 300px;
				margin: 2rem auto;

			}

			h1 {
				text-align: center;
			}

			.main {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			/*Lamp shapes*/

			.bulbo {
				height: 220px;
				width: 200px;
				border-radius: 50%;
				border: 1px solid black;
			}

			.bulboAceso {
				position: absolute;
				height: 220px;
				width: 200px;
				border-radius: 50%;
				background-color: yellow;
				box-shadow: 0px 0px 50px yellow;
			}


			.base {
				position: fixed;
				transform: translate(0, 125px);
				border: 1px solid black;
			}

			.baseShapes {
				height: 50px;
				width: 90px;
				border-radius: 10px 10px 30px 30px;
				background-color: lightgray;
			}

			.baseMenor {
				height: 10px;
				width: 40px;
				transform: translate(0, 155px);
				border-radius: 10px 10px 30px 30px;
				background-color: gray;
			}

			/*Botão*/

			.toogle {
				position: absolute;
				transform: translate(0, 250px);
			}