/*general*/

* {margin: 0; padding: 0}

html, body {
	height: 100%;
}

h1 {
	text-align: center;
	text-transform: capitalize;
	overflow: hidden;
}

#wrapper {
	height: 50%;
}

.main {
	position: relative;
	height: 95%;
	width: 80%;
}

/*utilities*/

.flxCntr {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flxClCntr {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*lamp shapes*/

.bulbOff {
	height: 220px;
	width: 200px;
	border-radius: 50%;
	border: 1px solid gray;
}

.bulb {
	position: absolute;
	height: 220px;
	width: 200px;
	border-radius: 50%;
	background-color: yellow;
	box-shadow: 0px 0px 50px yellow;
}

.baseShape {
	position: absolute;
	top: 72.5%;
	height: 50px;
	width: 90px;
	border: 1px solid gray;
	border-radius: 10px 10px 30px 30px;
	background-color: lightgray;
}

.baseSmall {
	position: absolute;
	top: 84.2%;
	height: 10px;
	width: 40px;
	border: 1px solid gray;
	border-radius: 10px 10px 30px 30px;
	background-color: gray;
}

/*button layout*/

.toogle {
	position: absolute;
	top: 10%;
}
